{% extends 'orders/base.html' %}
{% load staticfiles %}

{% block title_block %}Список городов{% endblock %}

{% block body_block %}
    {% if city_list %}
        <h2>Список городов</h2>

        <ul class="list-group">
            {% for city in city_list %}
                <li class="list-group-item">
                    <a href="{% url 'orders:shop_list' city.slug %}">{{ city.name }}</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'orders:delete_city' city.slug %}" class="badge"><span
                                class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        Список городов пуст.
    {% endif %}
    <a href="{% url 'orders:add_city' %}" class="btn btn-primary">Добавить город</a>
{% endblock %}