{% extends 'orders/base.html' %}
{% load staticfiles %}

{% block title_block %}Список городов{% endblock %}

{% block body_block %}
    {% if city_list %}
        <h1>Список городов</h1>
        <div class="list-group">
            {% for city in city_list %}
                <a href="{% url 'orders:shop_list' city.slug %}" class="list-group-item">{{ city.name }}</a>
            {% endfor %}
        </div>
    {% else %}
        Список городов пуст.
    {% endif %}
    <a href="{% url 'orders:add_city' %}" class="btn btn-primary">Добавить город</a>
{% endblock %}