{% extends 'orders/base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title_block %}Главная страница{% endblock %}

{% block body_block %}
    {% if order_list %}
        <h1>Последние заказы</h1>
        <div class="list-group">
            {% for order in order_list %}
                <a href="{% url 'orders:detail' order.id %}" class="list-group-item">Заказ №{{ order.id }} от
                    {{ order.date|date:'d.m.Y' }}</a>
            {% endfor %}
        </div>
    {% else %}
        Пока заказов нет
    {% endif %}
{% endblock %}