{% extends 'orders/base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title_block %}Главная страница{% endblock %}

{% block body_block %}
    {% if order_list %}
        <h2>Все заявки</h2>

        <div class="list-group">
            {% for order in order_list %}
                <a href="{% url 'orders:order_details' order.id %}" class="list-group-item">Заявка №{{ order.id }} от
                    {{ order.date|date:'d.m.Y' }}</a>
            {% endfor %}
        </div>
    {% else %}
        Пока заявок нет
    {% endif %}
    <a href="{% url 'orders:new_order' %}" class="btn btn-primary">Добавить заявку</a>
{% endblock %}