{% extends 'orders/base.html' %}
{% load staticfiles %}

{% block title_block %}Заявка №{{ order.id }}{% endblock %}

{% block body_block %}
    <h2>Заявка №{{ order.id }} от {{ order.date|date:'d.m.Y' }}</h2>
    {% if order_entries %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Магазин</th>
                <th>Место</th>
            </tr>
            </thead>
            <tbody>

            {% for entry in order_entries %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ entry.shop }}</td>
                    <td>{{ entry.place }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        Новая заявка
    {% endif %}
    <hr>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добавить к заявке</button>
    </form>
{% endblock %}
