{% extends 'orders/base.html' %}
{% load staticfiles %}

{% block title_block %}Список магазинов{% endblock %}

{% block body_block %}
    {% if data.shops %}
        <h1>Список магазинов</h1>
        <ul>
            {% for shop in object_list.shops %}
                <li>{{ shop }}</li>
            {% endfor %}
        </ul>
    {% else %}
        В {{ data.city.name }} наших магазинов нет
    {% endif %}
    <a href="{% url 'orders:add_shop' data.city.slug %}">Добавить магазин</a>
{% endblock %}