{% extends 'orders/base.html' %}
{% load staticfiles %}

{% block title_block %}Список магазинов{% endblock %}

{% block body_block %}
    {% if shop_list %}
        {% if city %}
            <h2>{{ city.name }}, cписок магазинов</h2>
        {% else %}
            <h2>Cписок магазинов</h2>
        {% endif %}

        <div class="list-group">
            {% for shop in shop_list %}
                <div class="list-group-item">{{ shop.shop_name }}, {{ shop.city }}</div>
            {% endfor %}
        </div>
    {% else %}
        В {{ city.name }} наших магазинов нет
    {% endif %}
    {#    <a href="{% url 'orders:add_shop' city_slug %}" class="btn btn-primary">Добавить магазин</a>#}
    {% if city.slug %}
        <a href="{% url 'orders:add_shopcbv' city.slug %}" class="btn btn-primary">Добавить магазин</a>
    {% endif %}
{% endblock %}