{% extends 'orders/base.html' %}
{% load staticfiles %}

{% block title_block %}Список магазинов{% endblock %}

{% block body_block %}
    {% if data.shops %}
        <h2>{{ data.city.name }}, cписок магазинов</h2>

        <div class="list-group">
            {% for shop in data.shops %}
                <div class="list-group-item">{{ shop.shop_name }}, {{ shop.city }}</div>
            {% endfor %}
        </div>
    {% else %}
        В {{ data.city.name }} наших магазинов нет
    {% endif %}
    <a href="{% url 'orders:add_shop' city_slug %}" class="btn btn-primary">Добавить магазин</a>
    <a href="{% url 'orders:add_shopcbv' city_slug %}" class="btn btn-primary">Добавить магазин CBV</a>
{% endblock %}